table {
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: orange;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th, td {
  border: 1px solid orange;
  padding: 3px 5px;
  text-align: center;
}

th {
  background-color: #888888;
  color: white;
}

.sub-total-row .sub-total-text {
  text-align: right;
}
